<div class="education-list">
  {% for item in site.data.education %}
    <article class="education-item">
      <div>
        <h3>{{ item.institution }}</h3>
        <p>{{ item.degree }}</p>
      </div>
      <div class="education-year">{{ item.year }}</div>
    </article>
  {% endfor %}
</div>
